<aside class="sidebar">

  <!-- LOGO -->
  <div class="sidebar-logo">
    <img src="atletas-em-foco-lg.png" alt="Atleta em Foco" class="logo-img" />
    <div class="logo-texto">
      <span class="logo-nome">Atletas em Foco</span>
    </div>
  </div>

  <!-- MENU -->
  <nav class="sidebar-menu">
    <span class="menu-label">Menu</span>

    <a class="menu-item" routerLink="/dashboard" routerLinkActive="ativo">
      <span class="material-icons menu-icone">dashboard</span>
      <span>Dashboard</span>
    </a>

    <a class="menu-item" routerLink="/clientes" routerLinkActive="ativo">
      <span class="material-icons menu-icone">group</span>
      <span>Atletas</span>
    </a>

    <a class="menu-item" routerLink="/pagamentos" routerLinkActive="ativo">
      <span class="material-icons menu-icone">payments</span>
      <span>Pagamentos</span>
    </a>

  </nav>

</aside>